.one{
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    padding: 12px;
    width: 20px;
    border-radius: 50%;
}
.two{
    color: rgb(235, 212, 217);
    background-color: crimson;
    padding: 12px;
    border-radius: 50%;
    width: 20px;
}
.three{
    text-align:center;
    color: rgb(192, 238, 209);
    background-color: rgb(75, 136, 14);
    width: 200px;
    height: 100px;
    padding-top: 80px;
    font-weight: bold;
   border-radius: 50%;
    text-decoration:underline overline solid rgb(247, 245, 245);
}
.Four{
    width: 500px;
    margin-top: 20px;
    padding: 20px 30px;
    line-height: 30px;
    text-align: justify;
    background-color: rgb(188, 156, 218);
    color: rgb(46, 2, 87);
    letter-spacing: 2px;
    border-radius: 10%;
    word-spacing: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
